@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'M', sans-serif;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

@font-face {
  font-family: 'M';
  src: url('font/mplus-1m-light-sub.eot');
  src: url('font/mplus-1m-light-sub.eot?#iefix') format('embedded-opentype'),
  url('font/mplus-1m-light-sub.woff') format('woff'),
  url('font/mplus-1m-light-sub.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'M';
  src: url('font/mplus-1m-regular-sub.eot');
  src: url('font/mplus-1m-regular-sub.eot?#iefix') format('embedded-opentype'),
  url('font/mplus-1m-regular-sub.woff') format('woff'),
  url('font/mplus-1m-regular-sub.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
