---
layout: default
---

<div class="home">

  {{ content }}

  <div class="images-grid">
    {% for artwork in site.data.artworks %}
      {% assign file = site.static_files | where:"name", artwork.image | first %}
      <div class="image thumb">
        <div class="inner">
          <img src="{{file.path}}" class=""/>
        </div>
        {% if artwork.url %}
          <a class="source" target="_blank" href="{{artwork.url}}">Source</a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

</div>
